.comment {
  border: 1px solid #e0e0e0; /* Light gray border for a softer look */
  background-color: #f9f9f9; /* Very light gray background to make it stand out subtly */
  padding: 15px; /* Increased padding for better readability */
  margin-bottom: 15px; /* Increased margin for better separation between comments */
  border-radius: 8px; /* Slightly more rounded corners */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.05); /* A subtle shadow for depth */
}

/* Custom Dropdown Style */
.navbar .form-select {
  color: #495057; /* Dark gray text */
  background-color: #f8f9fa; /* Light gray background */
  border: 1px solid #ced4da; /* Lighter border color */
  border-radius: 0.25rem; /* Rounded corners */
  transition: background-color 0.15s ease-in-out, border-color 0.15s ease-in-out; /* Smooth transition */
}

/* Change color on hover */
.navbar .form-select:hover {
  color: #495057;
  background-color: #e9ecef; /* Slightly darker on hover */
  border-color: #adb5bd;
}